* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;

    color: #fff;

    overflow-x: hidden;
}

.width {
    width: 30%;
}

.head.flex.itens.logo {
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
}

.container.popup {
    width: 100vw;
    height: 100vh;
    background: #6C7A89;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.container.popup.active {
    display:flex;
}

.display.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.popup.button {
    width: 300px;
    height: 300px;
    background: #fff;

    border: 1px solid #00022E;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.img.tamanho {
    width: 420px;
    height: 739px;
}

.shadow {
    box-shadow: 1px 1px 0px #222, 2px 2px 0px #222, 3px 3px 0px #222, 4px 4px 0px #222, 5px 5px 0px #222,
    6px 6px 0px #222 !important;
}

.title {
    margin-bottom: 10px;
}

::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #00022E;
}

html, body {height:100%;}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

.textos {
    color: #000;
    font-family: Arial, sans-serif;
}

.textos.verde {
    color: #00c400;
}

header {
    top: 0;
    background-color: #00022E;
    width: 100%;
    position: fixed;
    
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 15px;
}

.list {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.list.itens {
    transition: all 1s;

    border-radius: 10px;

    padding: 7px; 
}

.list.itens:hover {
    background: #02066f;
}

.list.itens a {
    transition: all 1s;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    color: #fff;
    font-weight: 500;
}

.padd {
    padding: 0 10px 0 0;
}

section {
    margin-top: 80px;
    margin-bottom: 20px;
}

.flex.index {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex.textos.texto.title.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.flex.textos.texto.title.container.esquerda {
    align-items: flex-end;
}

.textos.texto.container {
    width: 72%;
}

.button.flex.index.saibamais {
    margin-top: 15px;
}

.flex.index.container.textoConta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.flex.textoConta.conteudo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex.textosConta.textos.conteudo {
    width: 45%;
}

.section.card {
    width: 60%;

    margin-left: auto;
    margin-right: auto;
    
    margin-bottom: 10px;
}

.textos.paragrafo {
    text-align: justify;
    font-size: 1rem;
}

.flex.imgs.texto {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}

.section.card.logar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section.card .conteiner {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    width: 100%;
}

.flex.section.conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-left: auto;
    margin-right: auto;

    flex-direction: column;
}

.button.video {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.botao.centro.flex, .saibaMais {
    width: 250px;
    height: 40px;
    background-color: #00022E;
    border-radius: 10px;

    font-size: 1.2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.flex.ref.texto {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    width: 60%;
}

.forms {
    width: 60%;
}

.inputs {
    width: 100%;
}

.input.conta {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 30px;

    padding-left: 10px;

    color: #000;
}

input:active, input:focus {
    outline: 0;
}

.button.flex.link {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 92.5%;
}

.conta.verificar, .conta.voltar {
    width: 100px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;

    background-color: #00022E;
    border: none;
}

.conta.verificar:hover, .conta.verificar:hover {
    background-color: #06094a;
}

.conta.verificar:focus, .conta.verificar:active {
    background-color: #111562;
}

.iframe { 
    width:100%;
}

iframe { 
    width: 100%;
    height: 32rem;
}

iframe.list {
    height: 7rem;
}

iframe.list.consequencias {
    height: 41rem;
}

.flex.conteudo.img {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer {
    background-color: #00022E;
    position:absolute;
    bottom:0;

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around !important;

    padding: 5px;
}

footer.index {
    position: relative !important;
}

footer.no-absolute {
    position: relative !important;
}

.flex.itens.footer {
    width: 30%;
}

.flex.itens.footer.nomes {
    width: 20%;
}

.list.two {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1025px) {
    .head.flex.itens.logo {
        font-family: Arial, sans-serif;
        font-size: .8rem;
    }

    .list.itens a {
        transition: all 1s;
        font-size: .6rem;
        font-family: Arial, sans-serif;
        color: #fff;
        font-weight: 500;
    }
    .textos.paragrafo {
        text-align: justify;
        font-size: .8rem;
    }
    .textos {
        color: #000;
        font-family: Arial, sans-serif;
        font-size: .8rem;
    }
    .botao.centro.flex, .saibaMais {
        width: 180px;
        height: 30px;
        background-color: #00022E;
        border-radius: 10px;
        font-size: .8rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .section.card {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    img.img.sanitation {
        width: 224px;
        height: 144px;
    }
    .img.tamanho {
        width: 320px;
        height: 593px;
    }
    .img.tamanhomenor {
        width: 684px;
        height: 271px;
    }
    .flex.img {
        width: 80%;
    }
    img.img.basico {
        width: 80%;
    }
    .flex.conteudo.img {
        flex-direction: column;
    }
    .width {
        width: 100%;
    }
    iframe.list.consequencias {
        height: 45rem;
    }
    img.infosimg {
        width: 60%;
    }
    .section.card.input {
        width: 80%;
    }
    footer.no-absolute {
        position: relative !important;
    }
}

@media screen and (max-width: 769px) {
    .imgbrasil {
        width: 100%;
    }
    .img.tamanhomenor {
        width: 284px;
        height: 151px;
    }
    iframe {
        width: 90%;
        height: 49rem;
    }
    iframe.list {
        height: 10rem;
    }
    iframe.list.consequencias {
        height: 61rem;
    }
}

@media screen and (max-width: 426px) {
    .head.flex.itens {
        display: none;
    }
    .head.flex.itens.logo {
        display: flex;
    }
    .flex.index {
        flex-direction: column;
    }
    .saibaMais {
        width: 130px;
        height: 25px;
        background-color: #00022E;
        border-radius: 10px;
        font-size: .8rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .flex.textos.texto.title.container.esquerda {
        align-items: center;
    }
    .flex.textos.texto.title.container {
        align-items: center;
    }
    .flex.itens.footer {
        width: 60%;
    }
    .flex.itens.footer.nomes {
        width: 60%;
    }
    img.img.sanitation {
        width: 124px;
        height: 84px;
    }
    .flex.img {
        width: 30%;
    }
    .flex.img.texto {
        width: 80%;
    }
    .section.card {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    .flex.textoConta.conteudo {
        flex-direction: column;
    }
    .imgmobile {
        width: 80% !important;
    }
    .flex.conteudo.img {
        flex-direction: column;
        width: 80%;
    }
    .flex.section.conteudo.mobile {
        width: 80% !important;
    }
    .button.flex.link {
        flex-direction: column;
    }
}