* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;

    color: #fff;

    overflow: hidden;
}

html, body {height:100%;}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

.textos {
    color: #000;
    font-family: Arial, sans-serif;
}

.textos.verde {
    color: #00c400;
}

header {
    top: 0;
    background-color: #00022E;
    width: calc(100% - 15px);
    
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 15px;
}

.list {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.list.itens {
    transition: all 1s;

    border-radius: 10px;

    padding: 7px; 
}

.list.itens:hover {
    background: #02066f;
}

.list.itens a {
    transition: all 1s;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    color: #fff;
    font-weight: 500;
}

.padd {
    padding: 0 10px 0 0;
}

section {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50%;
}

.section.card {
    width: 60%;
    height: 60%;

    margin-left: auto;
    margin-right: auto;
    
    margin-bottom: 10px;
}

.section.card.logar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section.card .conteiner {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    width: 100%;
}   

.forms {
    width: 60%;
}

.inputs {
    width: 100%;
}

.input.conta {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 30px;

    padding-left: 10px;

    color: #000;
}

input:active, input:focus {
    outline: 0;
}




footer {
    background-color: #00022E;
    position:absolute;
    bottom:0;

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 5px;
}

.flex.itens.footer {
    width: 30%;
}

.flex.itens.footer.nomes {
    width: 20%;
}

.list.two {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

