* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;

    color: #fff;
}

.textos {
    color: #000;
}

header {
    top: 0;
    background-color: #00022E;

    position: fixed;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 15px;
}

.list {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.list.itens {
    transition: all 1s;

    border-radius: 10px;

    padding: 7px; 
}

.list.itens:hover {
    background: #02066f;
}

.list.itens a {
    transition: all 1s;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    color: #fff;
    font-weight: 500;
}

.padd {
    padding: 0 10px 0 0;
}

section {
    margin-top: 70px;
}

footer {
    background-color: #00022E;
    position: relative;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 5px;
}